<div
  class="absolute top-0 left-0 z-50 grid w-screen min-h-screen px-4 text-white place-items-center"
>
  <div>
    <h1 class="py-8 text-5xl text-center">👑</h1>
    <h1 class="text-5xl font-[900] text-center red-hat pb-8">
      <span
        class="text-transparent bg-gradient-to-r from-red-400 to-indigo-500 bg-clip-text"
      >
        Pobjeda!
      </span>
    </h1>
    <div class="flex justify-center py-8">
      <button-rainbow (click)="this.manager.setWon()">Nova igra</button-rainbow>
    </div>
  </div>
</div>
