<ul class="inline-flex flex-col gap-1 bg-gray-800 border-8 border-black">
  <app-bar [index]="1"></app-bar>
  <button>
    <app-bar [index]="2" [role]="'candidate'" [price]="'5.000€'"></app-bar>
  </button>
  <button>
    <app-bar [index]="3" [role]="'candidate'" [price]="'1.000€'"></app-bar>
  </button>
  <button>
    <app-bar [index]="4" [role]="'candidate'" [price]="'250€'"></app-bar>
  </button>
  <app-bar [index]="5"></app-bar>
  <app-bar [index]="6"></app-bar>
  <app-bar [index]="7"></app-bar>
</ul>
