<div class="bg-[#202124] min-h-screen min-w-screen">
  @if(!(this.manager.startStep > 4)) {
  <app-start-screen></app-start-screen>
  } @else if (this.manager.startStep > 4 && !this.manager.isGameOver &&
  !this.manager.isWon) {
  <div class="flex flex-col items-center justify-center">
    <div class="flex gap-4 py-4">
      <!-- <app-chaser-step></app-chaser-step> -->
      <!-- <app-candidate-step></app-candidate-step> -->
    </div>
    <app-bar-list></app-bar-list>
    <app-next-step></app-next-step>
  </div>
  @if (this.manager.questionView) {
  <app-question [index]="manager.question"></app-question>
  } } @if (this.manager.isGameOver) {
  <app-game-over></app-game-over>
  } @if(this.manager.isWon) {
  <app-victory></app-victory>
  }
</div>
