<div class="red-hat">
  <div
    class="flex items-center justify-center gap-8 mx-auto lg:max-w-[90%] flex-wrap py-16"
  >
    <div
      class="bg-[#2c2c2c] drop-shadow-xl p-4 h-full min-h-56 w-full max-w-[32rem] relative flex flex-col justify-between cursor-pointer hover:scale-105 transition-all ease-in-out duration-200"
      (click)="difficultyManager.handleEasy()"
    >
      @if (difficultyManager.easySelected()) {
      <div
        class="absolute flex items-center justify-center w-8 h-8 font-extrabold bg-green-600 rounded-full -top-4 -left-4"
      >
        <p>X</p>
      </div>
      }
      <div class="flex justify-between">
        <div>
          <h2 class="pb-4 text-3xl font-extrabold">Lagano</h2>
          <p class="text-lg font-semibold">
            Za igrače koje se samo žele zabaviti.
          </p>
        </div>
        <div
          class="flex items-center justify-center w-16 h-16 p-4 text-2xl border-2 border-white rounded-full"
        >
          <span>{{ difficultyManager.getEasyQuestions().length }}</span>
        </div>
      </div>
      <div>
        <p class="text-lg text-center">Primjer pitanja</p>
        <div class="text-center">
          <span class="opacity-60">"DODAJ PITANJE"</span>
        </div>
      </div>
    </div>
    <div
      class="bg-[#2c2c2c] drop-shadow-xl p-4 h-full min-h-56 w-full max-w-[32rem] relative flex flex-col justify-between cursor-pointer hover:scale-105 transition-all ease-in-out duration-200"
      (click)="difficultyManager.handleMedium()"
    >
      @if (difficultyManager.mediumSelected()) {
      <div
        class="absolute flex items-center justify-center w-8 h-8 font-extrabold bg-green-600 rounded-full -top-4 -left-4"
      >
        <p>X</p>
      </div>
      }
      <div class="flex justify-between">
        <div>
          <h2 class="pb-4 text-3xl font-extrabold">Srednje teško</h2>
          <p class="text-lg font-semibold">Srednja razina.</p>
        </div>
        <div
          class="flex items-center justify-center w-16 h-16 p-4 text-2xl border-2 border-white rounded-full"
        >
          <span>{{ difficultyManager.getMediumQuestions().length }}</span>
        </div>
      </div>
      <div>
        <p class="text-lg text-center">Primjer pitanja</p>
        <div class="text-center">
          <span class="opacity-60">"DODAJ PITANJE"</span>
        </div>
      </div>
    </div>
    <div
      class="bg-[#2c2c2c] drop-shadow-xl p-4 h-full min-h-56 w-full max-w-[32rem] relative flex flex-col justify-between cursor-pointer hover:scale-105 transition-all ease-in-out duration-200"
      (click)="difficultyManager.handleHard()"
    >
      @if (difficultyManager.hardSelected()) {
      <div
        class="absolute flex items-center justify-center w-8 h-8 font-extrabold bg-green-600 rounded-full -top-4 -left-4"
      >
        <p>X</p>
      </div>
      }
      <div class="flex justify-between">
        <div>
          <h2 class="pb-4 text-3xl font-extrabold">Teško</h2>
          <p class="text-lg font-semibold">
            Teška pitanja za najiskusnije igrače.
          </p>
        </div>
        <div
          class="flex items-center justify-center w-16 h-16 p-4 text-2xl border-2 border-white rounded-full"
        >
          <span>{{ difficultyManager.getHardQuestions().length }}</span>
        </div>
      </div>
      <div>
        <p class="text-lg text-center">Primjer pitanja</p>
        <div class="text-center">
          <span class="opacity-60">"DODAJ PITANJE"</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <button-rainbow
      (click)="
        this.manager.addStartStep();
        this.difficultyManager.addSelectedDifficulty()
      "
      >Pogledaj opcije</button-rainbow
    >
  </div>
</div>
